recursive-include graphsrv/static *
recursive-include graphsrv/templates *
recursive-include graphsrv/etc *
recursive-include facsimile *.txt
recursive-include graphsrv *.py
include facsimile/VERSION
