<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  {% for k,f in graphsrv.instance.includes.js.items() %}
  <script src="{{ static_url }}/{{ f.path }}" type="text/javascript"></script>
  {% endfor %}
  {% for k,f in graphsrv.instance.includes.css.items() %}
  <link rel="stylesheet" href="{{ static_url }}/{{ f.path }}" type="text/css" />
  {% endfor %}
</head>
<body>

<div id="graphsrv-overview" class="graphsrv overview {{ layout.type }}">
  <div class="container-fluid">
    
    {% for row in layout.layout %}
      {% include "overview.row.html" %}
    {% endfor %}
    
  </div>
</div>

</body>
</html>
