html, body {
  background-color: #000;
  height: 100%;
}

div.height1 {
  height: 10%; 
}
div.height2 {
  height: 16.5%;
}
div.height3 {
  height: 33%;
}
div.height4 {
  height: 50%;
}
div.height6 {
  height: 66%;
}

div.graphsrv.overview {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

div.graphsrv.overview div.container-fluid {
  height: 100%;
}

div.graphsrv.overview div.row>div {
  background-color: #000;
  height: 100%;
}

div.graphsrv.overview div.overview-file {
  white-space:pre;
  color: #fff;
  font-size: 12px;
  padding-top: 10px;
}

div.graphsrv.overview div.graph-label {
  text-align: center;
}

div.graphsrv.overview div.graph-label a {
  text-decoration: underline;
}

div.graphsrv.overview div.empty {
  padding-top: 10%;
  color: #666;
  font-size: 150%;
  text-align: center;
  height: 100%;
  width: 100%;
  border: 1px #333 dashed;
}

@keyframes status_indicator_anim {
  0% {opacity:1.0;}
  50% {opacity:0.5;}
  100% {opacity:1.0;}
}

div.graphsrv.overview div.status-indicator {
  position: absolute;
  left: 0px;
  right: 65px;
  top: 5px;
  bottom: 40px;
  font-size: 12px;
  color: red;
  font-weight: bold;
  text-align: right;
  padding-top: 10px;
  padding-right: 10px;
  text-shadow: 0px 0px 5px #000;
  z-index: 1000;
  border-right: 3px red solid
}

div.graphsrv.overview div.status-indicator.visible {
  animation-name: status_indicator_anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
